services:
  postgres:
    image: postgres:16
    container_name: my_postgres
    restart: on-failure
    env_file:
      - ./postgres/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    container_name: backend
    build: ./backend
    ports:
      - "3001:3001"
    depends_on:
      - postgres
    env_file:
      - .env
volumes:
  postgres_data: